:root {
    --pink: #fbe6f4ff;
    --yellow: #fffad1ff;
    --green: #e1f0e5ff;
    --blue: #b5caf9ff;
    --orange: #f5e6db;
    --raisin: #2b283aff;
    --grey: #d4d4d4;
  }
  
  body {
    background-color: var(--raisin);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    font-size: 2em;
  }
  
  p {
    margin: 0;
  }
  
  button {
      position:absolute;
      top: 3em;
      padding: 0.5em 1em;
      font-size: 1rem;
      background: var(--blue);
      border: var(--orange);
      color: var(--raisin);
      opacity: 0;
  }
  
  .countdown-display {
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 2em;
  }
  
  #rocket-group {
    position: absolute;
    bottom: 4em;
  }
  
  #rocket {
      transform: rotate(-45deg);
  }
  
  #rocket-fire,
  #rocket-puff {
      position: absolute;
      top: 80%;
      right: 13px;
      width: 1rem;
      transform: rotate(-180deg);
      opacity: 0;
  }
  
  .rocket-fly {
    animation: flyingRocket 3s ease-in;
  }
  
  #rocket-puff {
      z-index: -1;
      top: 81%;
      right: 5px;
      width: 2rem;
  }
  
  .rocket-fail {
  
  }
  
  .rocket-die {
    animation: dyingRocket 5s ease-in-out;
  }
  
  .ignites {
      animation: liveFire 2s;
  }
  
  .ignites-fail {
      animation: liveFire 2s;
  }
  
  
  @keyframes flyingRocket {
    from {
      bottom: 4em;
    }
    to {
      bottom: 100%;
    }
  }
  
  @keyframes dyingRocket {
      50% {
      bottom: 50%;
      
    }
    100% {
      transform: rotate(-210deg);
      bottom: -2em;
    }
  }
  
  @keyframes liveFire {
      0% {
          scale: 0;
          
      }
      100% {  
          opacity: 1;
      }
  
  }
  